{% extends 'base.html' %}

{% block main %}

<div class="row">
    <div class="col-sm">
      Seja bem vindo
    </div>
    <div class="col-sm">
      Olá {{ usuario.colaborador.nome }}<br>
        <a href="{% url 'list_colaboradores' %}">Gerenciar Colaboradores</a><br>
        <a href="{% url 'list_departamentos' %}">Gerenciar Departamentos</a><br>
        <a href="{% url 'list_hora_extra' %}">Gerenciar Banco de Horas</a><br>
        <a href="{% url 'rel_he_colab_emp_reportlab' %}">Gerar .pdf com Reportlab</a><br>
        <a href="{% url 'rel_he_colab_emp_xlwt' %}"> Relarório de Colaboradores e HE xlwt</a>
    </div>
    <div class="col-sm">
        <a href="{% url 'logout' %}">Logout</a><br>

        {% if usuario.colaborador.empresa %}
            <a href="{% url 'edit_empresa' usuario.colaborador.empresa.id %}">Editar Empresa</a>
        {% else %}
            <a href="{% url 'create_empresa' %}">Criar Empresa</a>
        {% endif %}
    </div>
</div>
{% endblock %}